/* styles.css */
body {
    font-family: Lavolta, ;
    text-align: center;
    background-color: #900606;
    margin: 0;
    padding: 0;
}

h1 {
    color: #7e55e4;
    margin-top: 20px;
}

#game-area {
    width: 500px;
    height: 500px;
    border: 2px solid #81fd6b;
    margin: 20px auto;
    position: relative;
    background-color: #8f4e7d;
    overflow: visible;
}

#square {
    width: 50px;
    height: 50px;
    background-color: rgb(237, 168, 8);
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00ffe5;
    color: rgb(0, 0, 0);
    border: none;
    
    cursor: pointer;
}

button:hover {
    background-color: #e93fb3;
}

#score, #time {
    font-size: 18px;
    color: #b404ff;
}
.btn-group {
    display: inline-flex;
}

/* Buttons in the group */
.btn-group button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    border: 1px solid #0056b3;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* Remove spacing between buttons */
.btn-group button:not(:last-child) {
    border-right: none; /* Remove the right border of all except the last button */
}

/* Hover effect */
.btn-group button:hover {
    background-color: #0056b3; /* Darker blue */
}

/* Active button styling */
.btn-group button:active {
    background-color: #003d82; /* Even darker blue */
}
