

*{
    margin: 0;
    padding: 0;
    background-image: image(url(stars.jpeg));
}
body {
    font-family: Lavolta;
    background:url('Images/stars.jpeg')center;
 
}


.Rassa 
{
    margin: 0 auto;
    padding: 0 10px;
    width: 1080px;
    display: flex;
  justify-content: center; /* Centers links horizontally */
  align-items: center; /* Centers links vertically */
  height: 100px; /* Adjust as needed */
  

}
ul{
    list-style: none;
}
nav 
{
    display: flex;
  gap: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    transform-origin: center;
    display: inline-block;
}
header nav ul li a:hover {

    transform: scale(1.5);
}
header nav{

    float: auto;
    margin-top: 40px;
}
header nav ul li{
    display:inline-block;
    
}
header nav ul li a{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 100px;
}
#About-me 
{
    
    height: 600px;
}
#About-me h1
{
    font-size: 200px;
    color: #ffffff;
    font-family: Lavolta Swash;
    font-weight: normal;
    text-align: center;
    padding: 150px 0px 40px 0px;
    margin-top: 20px;

}

#About-me2 
{
    height: 600px;
}
#About-me2 h2
 {
    font-size: 100px;
    color: #ffffff;
    font-family: Lavolta Swash;
    font-weight: normal;
    margin-top: 0px;
    margin: 100px;
}

#About-me2 p 
{
    font-size: 50px;
    color: #ffffff;
    margin: 30px;
    margin-top: 0px;
    
}






















#Works 
{
    height: 100px;
    text-align: center;
    background-color: rgb(22, 22, 22);
    margin-top: 5px;
    float: auto;
    
}
#Works p
{
    font-size: 20px;
    color: #d0d0d0;
    margin: auto 15px;
    padding: 10px 0px;
    padding-top: 15px;
}